@using BlogASP.Models
@model IEnumerable<BlogASP.Models.Post>

@if (ViewBag.Title != null)
{
    <div>
        @Html.ActionLink("Повернутись до списку", "Index")
    </div>
    <h3>@ViewBag.Title</h3>
}

@foreach (var item in Model)
{
    <div class="card mb-4">
        @*<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">*@
        <div class="card-body">
            <h2 class="card-title">
                @Html.DisplayFor(modelItem => item.Title)
            </h2>
            <div class="card-text">
                @Html.Raw(item.Content)
            </div>
            @Html.ActionLink("Read more", "Display", new { id = item.Id }, new { @class = "btn btn-primary" })
        </div>
        <div class="card-footer text-muted">
            Posted on
            @Html.DisplayFor(modelItem => item.Created_at) by
            @Html.DisplayFor(modelItem => item.User.UserName)
        </div>
    </div>
}
